.revenew__box,.user__box,.products__box,.order__box{
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.revenew__box{
    background: var(--card-bg-01);
}
.products__box{
    background: var(--card-bg-02);
}
.user__box{
    background: var(--card-bg-03);
}
.order__box{
    background: var(--card-bg-04);
}