.auth__form{
    background: var(--primary-color);
    padding: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.login__btn{
    background: #fff;
    color: var(--primary-color);
    font-weight: 600;
}
.auth__form p a{
    text-decoration: none;
    color: #fff;
}
.auth__form p{
    margin-top: 20px;
}
.auth__form input[type='file']{
    color: #fff;
    cursor: pointer;
}